h1 {
  font-weight: bold;
  font-size: 52px;
  text-align: center;
}

h3 {
  font-size: 38px;
  text-align: center;
}

.input-search {
  line-height: 3em;
  margin: 10px auto;
  display: block;
}

.submit-button {
  margin: 10px auto;
  display: block;
}

.book {
  font-size: 20;
  display: grid;
  justify-content: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: center;
}

.page-container {
  padding: 20px 0;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  justify-content: center;
  gap: 20px;
}

.page {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 28px;
}
